<div class="jumbotron" style="background-color: #ec3521 ">
    <div class="container">
        <h1 class="display-4 text-center">Eat Dat Burger</h1>
        <img src="/assets/img/burger.png" alt="burgerIcon" class="mx-auto d-block">
    </div>
</div>
<div class="container col-12 sm" id="body">
    <div class="row">
        <div class="card col m-5 p-5 sm" id="cards">
    <h2 class="h2Head">Da Burgs</h2>
            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                <li>
                    {{burger_name}}
                    <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}" id="burgBtn">
                        NOM NOM!
                    </button>
                </li>
                {{/unless}}
                {{/each}}
            </ul>
            </div>
            <div class="card col m-5 p-5 sm" id="cards">
                <h2 class="h2Head">Burgs You've Devoured</h2>

                <ul>
                    {{#each burgers}}
                    {{#if devoured}}
                    <li>
                        {{burger_name}}
                        <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}" id="burgBtn">
                            UNDEVOUR ME!
                        </button>
                    </li>
                    {{/if}}
                    {{/each}}
                </ul>
            </div>

        </div>
    </div>
<div class="card col-6 m-5 p-5 mx-auto sm" id="cards">
    <h2 class="h2Head">Add Your Own Burg to the Menu</h2>

    <form class="create-form">

        <div class="form-group">
            <label for="burger">Burger Name:</label>
            <input type="text" id="burgs" name="name">
        </div>

        <div class="form-group">
            <label for="devoured">Have you devoured this burger?</label><br>
            <input type="radio" name="devoured" value="1" checked> NOM NOM!<br>
            <input type="radio" name="devoured" value="0"> Not yet!
        </div>

        <button type="submit" id="burgBtn">Add Dat Burger</button>
    </form>
</div>